@model MvcApplicationSTA.Models.mecanico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/PaginaMaestra/_LayoutPaginaMaestra.cshtml";
}

@section region_principal{

<h2>Registro nuevo Mecanico</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>mecanico</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MecRut, "Rut")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MecRut)
            @Html.ValidationMessageFor(model => model.MecRut)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MecCla, "Clave")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MecCla)
            @Html.ValidationMessageFor(model => model.MecCla)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MecClv, "Confirme Clave")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MecClv)
            @Html.ValidationMessageFor(model => model.MecClv)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MecNom, "Nombre")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MecNom)
            @Html.ValidationMessageFor(model => model.MecNom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MecApe, "Apellido")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MecApe)
            @Html.ValidationMessageFor(model => model.MecApe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MecFon, "Telefono")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MecFon)
            @Html.ValidationMessageFor(model => model.MecFon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MecCor, "Correo Electronico")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MecCor)
            @Html.ValidationMessageFor(model => model.MecCor)
        </div>
        @*
            <div class="editor-label">
                @Html.LabelFor(model => model.MecUid)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MecUid)
                @Html.ValidationMessageFor(model => model.MecUid)
            </div>
        *@
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
}



@section region_baner{

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}